doctype html
html
    head
        title SSO
        style
            include style.css
    body
        div.sso
            form(method='post', action='/login?redirect=' + redirect)
                if error
                    div.error #{error}
                div.field
                    input(name='username', placeholder='username', autofocus, autocomplete='off')
                div.field
                    input(name='password', placeholder='password', type='password', autocomplete='off')
                div.field
                    button(type='submit') Login